<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="breadcrumb">
            <a href="/listings">Home</a> &gt; <a href="/listings">listings</a> &gt; listing Details
        </div>

        <main>
            <section class="listing-details-container">
                <div class="listing-image">
                    <img src="<%= listing.image %>" alt="<%= listing.name %>">
                </div>
                <div class="listing-info">
                    <h1>
                        <%= listing.title %>
                    </h1>
                    <p class="price">$<%= listing.pricePerDay %>
                    </p>
                    <p class="description">
                        <%= listing.description %>
                    </p>
                    <!-- isAvailable -->
                    <% if (listing.available) { %>
                        <span class="badge text-bg-success">Available</span>
                        <% } else { %>
                            <span class="badge text-bg-danger">Not Available</span>
                            <% } %>
                                <div class="btn-container">
                                    <a href="/listings/rent/<%= listing._id %>/checkout"><button
                                            class="btn-secondary">Rent
                                            listing</button></a>
                                    <!-- delete listing when user is the owner -->
                                    <% if (currentUser && listing.user &&
                                        String(currentUser._id)===String(listing.user._id)) { %>
                                        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                                            <button class="btn-primary">Delete Listing</button>
                                        </form>
                                        <% } %>

                                </div>
                </div>
            </section>

            <section class="reviews-section">
                <h2>Customer Reviews</h2>
                <p>No reviews yet. Be the first to review this listing!</p>
            </section>

            <section class="similar-listings">
                <h2>Similar listings</h2>
                <p>Coming soon...</p>
            </section>
        </main>

    </body>